.about-content {
  display: flex;
  align-items: center;
}
.about-content img {
  max-width: 30vw;
  padding-top: 40px;
  padding-left: 7.5vw;
}
.about-text {
  min-width: 30vw;
  margin-right: 15vw;
  margin-left: 5vw;
  color: #414141;
}
.about-text p {
  font-size: 22px;
  font-weight: 300;
}
