.contact {
  padding-top: 15vh;
  text-align: left;
  margin-left: 7.5vw;
  padding-bottom: 15vh;
}
.divider {
  height: 5px;
  background-color: #ffa18f;
  border-width: 0;
  border-radius: 5px;
  margin-left: 0;
  width: 7.5vw;
}
.contact h2 {
  font-size: 2em;
  font-weight: 500;
  color: #414141;
  margin-top: 20px;
}
.contact-text {
  color: #414141;
  margin-top: 50px;
}
.contact-text p {
  font-size: 18px;
  font-weight: 300;
  margin-left: 0;
}
.contact-text a {
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  color: #414141;
}
.email {
  transition: color 0.2s ease;
}
.email:hover {
  color: #ffa18f;
}
.linked-in {
  transition: color 0.2s ease;
  padding: 0;
}
.linked-in:hover {
  color: #ffa18f;
}
