.coop-image {
  object-fit: cover;
  width: 350px;
  height: 250px;
  box-shadow: 3px 3px 5px #dbdbdb;
  margin-bottom: 50px;
}
.company-logo {
  height: 40px;
  box-shadow: none;
}
.blurb {
  padding: 0 55px;
  margin-bottom: 20px;
}
p {
  font-size: 1.25em;
  font-weight: 300;
  padding-bottom: 20px;
  margin-top: -10px;
  margin-left: 5.5vw;
}
