.resume-content {
  display: flex;
  align-items: center;
  padding-right: 2vw;
}
.resume-content img {
  max-width: 40vw;
  padding-top: 40px;
  padding-left: 5vw;
  box-shadow: 5px 5px 5px #dbdbdb;
  border: 1px solid #dbdbdb;
  transition: transform 0.2s;
}
.resume-content img:hover {
  transform: scale(1.02);
}
.resume-text {
  max-width: 25vw;
  margin-right: 5vw;
  margin-left: 6vw;
  color: #414141;
  text-align: center;
}
.resume-text p {
  font-size: 1.25em;
  font-weight: 300;
  text-align: left;
  padding-bottom: 2em;
}
.download-button {
  font-size: 1em;
  text-decoration: none;
  background-color: white;
  color: #414141;
  border: 2px solid #ffa18f;
  border-radius: 25px;
  padding: 12px 20px;
}
.download-button:hover {
  transition: background-color 0.15s ease;
  font-size: 1em;
  text-decoration: none;
  background-color: #ffa18f;
  color: white;
  border: 2px solid #ffa18f;
}
