@import url("https://fonts.googleapis.com/css?family=Manrope:300,500,600,700");
body {
  margin: 0;
  font-family: "Manrope";
  font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
